/*  HEADER  */
header#header {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header__menu li a {
  display: block;
  margin-left: 2rem;
  font-size: 1.8rem;
  color: var(--orange-color);
  position: relative;
}

.header__menu li a::before {
  content: "";
  background: var(--orange-color);
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: width 0.3s linear;
}

.header__menu li a:hover::before {
  width: 100%;
}

.header__mobile-burger {
  background: none;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 10000;
}
/* -=-=-=-=-=-=-=-=-=- */

/* CALL */
section#call {
  width: 100%;
  height: 55.5rem;
  background: url("../img/hero-image.svg") no-repeat;
  background-position: 50vw bottom;
}

.call {
  padding: 12.8rem 1%;
  text-align: center;
}

.call__title {
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--dark-color);
}

.call__subtitle {
  margin: 1.6rem 0 3.2rem 0;
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--dark-color);
}

.call__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--orange-color);
  width: 100%;
  max-width: 30rem;
  height: 6.7rem;
  margin: 0 auto;
  border-radius: var(--rounding);
  box-shadow: var(--shadow);
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--white-color);
}
/* -=-=-=-=-=-=-=-=-=- */

/* DADOS */
section#dados {
  width: 100%;
}

.dados {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.dados > .card {
  min-height: 30rem;
}

.divider {
  background: var(--light-color);
  width: 100%;
  height: 0.2rem;
  margin: 3.2rem 0;
  border-radius: var(--rounding);
}

.dados__graphic {
  grid-column: 1 / -1;
}

.dados__change-value p,
.dados__change-value span {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--dark-color);
}

.dados__change-value p {
  margin-bottom: 2.4rem;
}

.change__result-btc {
  font-size: 2.4rem;
}

.change__container {
  background: var(--light-color);
  width: 20rem;
  height: 0.5rem;
  border-radius: var(--rounding);
  position: relative;
}

.change__background {
  background: var(--orange-color);
  width: 25%;
  height: 100%;
  border-radius: var(--rounding);
}

.change__ball {
  background: var(--orange-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.change__brl {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
}

span.change__symbol-brl {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--dark-color);
}

.change__price-brl {
  display: inline-block;
  max-width: 15rem;
  border: none;
  outline: 0;
  margin-left: 0.4rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-color);
  position: relative;
}

.dados__price {
  position: relative;
}

.price__btc-title {
  display: flex;
  align-items: center;
}

.price__btc-title i {
  font-size: 6.4rem;
  color: var(--dark-color);
}

.price__btc-title h2 {
  margin-left: 1.6rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-color);
}

.price__btc-now {
  font-weight: 400;
  font-size: 2.8rem;
  color: var(--dark-color);
}

.price__btc-now span {
  margin-top: 0.8rem;
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--dark-color);
}

.price__btc-variation,
.price__btc-hundred,
.price__btc-hundred span {
  font-weight: 400;
  font-size: 1.6rem;
}

.price__btc-variation span {
  font-weight: 700;
  font-size: 1.6rem;
}

.price__btc-hundred {
  margin-top: 1.6rem;
}

span.v-positive {
  color: var(--green-color);
}

span.v-negative {
  color: var(--red-color);
}

.price__btc-countdown {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
}

.btc-countdown__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border: 2px solid var(--dark-color);
  border-radius: 50%;
  transform: rotate(45deg);
}

.circle__time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 1.4rem;
}
/* -=-=-=-=-=-=-=-=-=- */

/* ADVANTAGES */
.vantagens__list {
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(3, 1fr);
}

.list__item i {
  font-size: 6.4rem;
  color: var(--orange-color);
}

.mini-divider {
  background: var(--orange-color);
  width: 3rem;
  height: 0.3rem;
  margin: 3.2rem auto;
  border-radius: var(--rounding);
}

.list__item p {
  max-width: 24rem;
  font-size: 1.6rem;
}
/* -=-=-=-=-=-=-=-=-=- */

/* PARCEIROS */
section#parceiros {
  margin-top: 3.2rem;
}

.slide__wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
  align-items: center;
}

.slide li {
  margin: 0 6rem;
  display: flex;
}
/* -=-=-=-=-=-=-=-=-=- */

/* FOOTER */
footer#footer {
  background: var(--dark-color);
  width: 100%;
  margin-top: 3.2rem;
}

.footer {
  width: 100%;
  padding: 6.4rem 1%;
}

.footer .divider {
  background: var(--dark-light-color);
}

.footer__ft-content {
  display: grid;
  gap: 2rem;
  grid-template-columns: 30rem 1fr;
}

.ft-content__social p,
.ft-content__social a {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white-color);
}

.ft-content__social i {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.ft-content__about h2 {
  margin-bottom: 1.6rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--white-color);
}

.ft-content__about p {
  font-size: 1.6rem;
  color: var(--white-color);
}
/* -=-=-=-=-=-=-=-=-=- */
