/*  HEADER  */
header#header {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header__menu li a {
  display: block;
  margin-left: 2rem;
  font-size: 1.8rem;
  color: var(--orange-color);
  position: relative;
}

.header__menu li a::before {
  content: "";
  background: var(--orange-color);
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: width 0.3s linear;
}

.header__menu li a:hover::before {
  width: 100%;
}

.header__mobile-burger {
  background: none;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 10000;
}
/* -=-=-=-=-=-=-=-=-=- */

/* CALL */
section#call {
  width: 100%;
  height: 55.5rem;
  background: url("../img/hero-image.svg") no-repeat;
  background-position: 50vw bottom;
}

.call {
  padding: 12.8rem 1%;
  text-align: center;
}

.call__title {
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--dark-color);
}

.call__subtitle {
  margin: 1.6rem 0 3.2rem 0;
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--dark-color);
}

.call__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--orange-color);
  width: 100%;
  max-width: 30rem;
  height: 6.7rem;
  margin: 0 auto;
  border-radius: var(--rounding);
  box-shadow: var(--shadow);
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--white-color);
}
/* -=-=-=-=-=-=-=-=-=- */

/* ADVANTAGES */
.vantagens__list {
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(3, 1fr);
}

.list__item i {
  font-size: 6.4rem;
  color: var(--orange-color);
}

.mini-divider {
  background: var(--orange-color);
  width: 3rem;
  height: 0.3rem;
  margin: 3.2rem auto;
  border-radius: var(--rounding);
}

.list__item p {
  max-width: 24rem;
  font-size: 1.6rem;
}
/* -=-=-=-=-=-=-=-=-=- */

/* FOOTER */
footer#footer {
  background: var(--dark-color);
  width: 100%;
  margin-top: 3.2rem;
}

.footer {
  width: 100%;
  padding: 6.4rem 1%;
}

.footer .divider {
  background: var(--dark-light-color);
}

.footer__ft-content {
  display: grid;
  gap: 2rem;
  grid-template-columns: 30rem 1fr;
}

.ft-content__social p,
.ft-content__social a {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white-color);
}

.ft-content__social i {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.ft-content__about h2 {
  margin-bottom: 1.6rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--white-color);
}

.ft-content__about p {
  font-size: 1.6rem;
  color: var(--white-color);
}
/* -=-=-=-=-=-=-=-=-=- */
