:root {
  --white-color: #ffffff;
  --light-color: #f3f3f8;
  --dark-color: #051721;
  --dark-light-color: #0d2431;
  --orange-color: #f68927;
  --green-color: #276968;
  --red-color: #ec3710;
  --shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  --rounding: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  background: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 94rem;
  margin: 0 auto;
  padding: 3.2rem 1%;
}

.card {
  background: var(--white-color);
  padding: 3.2rem;
  border-radius: var(--rounding);
  box-shadow: var(--shadow);
}

/*  HEADER  */
header#header {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}

.header__menu li a {
  display: block;
  margin-left: 2rem;
  font-size: 1.8rem;
  color: var(--orange-color);
  position: relative;
}

.header__menu li a::before {
  content: "";
  background: var(--orange-color);
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: width 0.3s linear;
}

.header__menu li a:hover::before {
  width: 100%;
}

.header__mobile-burger {
  background: none;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 10000;
}
/* -=-=-=-=-=-=-=-=-=- */

/* CALL */
section#call {
  width: 100%;
  height: 55.5rem;
  background: url("../img/hero-image.svg") no-repeat;
  background-position: 50vw bottom;
}

.call {
  padding: 12.8rem 1%;
  text-align: center;
}

.call__title {
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--dark-color);
}

.call__subtitle {
  margin: 1.6rem 0 3.2rem 0;
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--dark-color);
}

.call__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--orange-color);
  width: 30rem;
  height: 6.7rem;
  margin: 0 auto;
  border-radius: var(--rounding);
  box-shadow: var(--shadow);
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--white-color);
}
/* -=-=-=-=-=-=-=-=-=- */

/* DADOS */
section#dados {
  width: 100%;
}

.dados {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.dados > .card {
  min-height: 30rem;
}

.divider {
  background: var(--light-color);
  width: 100%;
  height: 0.2rem;
  margin: 3.2rem 0;
  border-radius: var(--rounding);
}

.dados__graphic {
  grid-column: 1 / -1;
}

.dados__change-value p,
.dados__change-value span {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--dark-color);
}

.dados__change-value p {
  margin-bottom: 2.4rem;
}

.change__result-btc {
  font-size: 2.4rem;
}

.dados__change {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change__container {
  background: var(--light-color);
  width: 20rem;
  height: 0.5rem;
  border-radius: var(--rounding);
  position: relative;
}

.change__background {
  background: var(--orange-color);
  width: 25%;
  height: 100%;
  border-radius: var(--rounding);
}

.change__ball {
  background: var(--orange-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

span.change__symbol-brl {
  margin-left: 1.6rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--dark-color);
}

.change__price-brl {
  max-width: 15rem;
  border: none;
  outline: 0;
  margin-left: 0.4rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-color);
  position: relative;
}

.dados__price {
  position: relative;
}

.price__btc-title {
  display: flex;
  align-items: center;
}

.price__btc-title i {
  font-size: 6.4rem;
  color: var(--dark-color);
}

.price__btc-title h2 {
  margin-left: 1.6rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--dark-color);
}

.price__btc-now {
  margin-top: 0.8rem;
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--dark-color);
}

.price__btc-now span {
  font-weight: 400;
  font-size: 2.8rem;
  color: var(--dark-color);
}

.price__btc-variation,
.price__btc-hundred,
.price__btc-hundred span {
  font-weight: 400;
  font-size: 1.6rem;
}

.price__btc-variation span {
  font-weight: 700;
  font-size: 1.6rem;
}

.price__btc-hundred {
  margin-top: 1.6rem;
}

span.v-positive {
  color: var(--green-color);
}

span.v-negative {
  color: var(--red-color);
}

.price__btc-countdown {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
}

.btc-countdown__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border: 2px solid var(--dark-color);
  border-radius: 50%;
  transform: rotate(45deg);
}

.circle__time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 1.4rem;
}
/* -=-=-=-=-=-=-=-=-=- */

.banner {
  background: var(--white-color);
  width: 100%;
}

.banner__container {
  padding: 6.4rem 1%;
  text-align: center;
}

.banner-title {
  position: relative;
  margin-bottom: 6.4rem;
  padding-bottom: 1.6rem;
  font-weight: 700;
  font-size: 3.6rem;
  color: var(--orange-color);
}

.banner-title::before {
  content: "";
  background: var(--orange-color);
  width: 7rem;
  height: 0.3rem;
  border-radius: var(--rounding);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ADVANTAGES */
.vantagens__list {
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(3, 1fr);
}

.list__item i {
  font-size: 6.4rem;
  color: var(--orange-color);
}

.mini-divider {
  background: var(--orange-color);
  width: 3rem;
  height: 0.3rem;
  margin: 3.2rem auto;
  border-radius: var(--rounding);
}

.list__item p {
  max-width: 24rem;
  font-size: 1.6rem;
}
/* -=-=-=-=-=-=-=-=-=- */

/* PARCEIROS */
section#parceiros {
  margin-top: 3.2rem;
}

.slide__wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
  align-items: center;
}

.slide li {
  margin: 0 6rem;
  display: flex;
}
/* -=-=-=-=-=-=-=-=-=- */

/* AJUDA */
section#ajuda {
  margin-top: 3.2rem;
}

.ajuda {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.questions-side__title {
  font-weight: 700;
  font-size: 4.2rem;
  color: var(--dark-color);
}

.questions-side__subtitle {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  color: var(--dark-color);
}

.questions-side__questions {
  margin-top: 6.4rem;
}

.questions__question {
  width: calc(100% + 3.5rem);
  padding: 3.2rem;
  font-size: 1.8rem;
  color: var(--dark-color);
  cursor: pointer;
  position: relative;
  z-index: 100;
  border-radius: var(--rounding);
  transition: background 0.3s, color 0.3s;
}

.questions__question:hover {
  background: var(--orange-color);
  box-shadow: var(--shadow);
  color: var(--white-color);
}

.questions__question.active {
  background: var(--white-color);
  box-shadow: var(--shadow);
  color: var(--dark-color);
}

.questions__question + .questions__question {
  margin-top: 3.2rem;
}

.faq__results-side {
  background: var(--white-color) url("../img/faq-characters.svg") no-repeat
    calc(100% - 3.2rem) calc(100% - 3.2rem);
  min-height: 75rem;
  padding: 3.2rem;
  border-radius: var(--rounding);
}

.result {
  display: none;
}

.result.active {
  display: block;
}

.result__title {
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--dark-color);
}

.result p,
.result a {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  font-size: 2rem;
  color: var(--dark-color);
}

.result a i {
  margin-right: 1.6rem;
  font-size: 3rem;
}
/* -=-=-=-=-=-=-=-=-=- */

/* FOOTER */
footer#footer {
  background: var(--dark-color);
  width: 100%;
  margin-top: 3.2rem;
}

.footer {
  width: 100%;
  padding: 6.4rem 1%;
}

.footer .divider {
  background: var(--dark-light-color);
}

.footer__ft-content {
  display: grid;
  gap: 2rem;
  grid-template-columns: 30rem 1fr;
}

.ft-content__social p,
.ft-content__social a {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--white-color);
}

.ft-content__social i {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.ft-content__about h2 {
  margin-bottom: 1.6rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--white-color);
}

.ft-content__about p {
  font-size: 1.6rem;
  color: var(--white-color);
}
/* -=-=-=-=-=-=-=-=-=- */

@media (max-width: 1000px) {
  section#call {
    background-size: 65rem;
    background-position: 40vw bottom;
  }
}

@media (max-width: 850px) {
  .dados {
    grid-template-columns: 1fr;
  }
  .dados__change {
    justify-content: initial;
  }
  span.change__symbol-brl {
    font-size: 1.8rem;
  }
  .change__price-brl {
    width: 100%;
    max-width: 20rem;
    font-size: 3.2rem;
  }
  .dados__change-value span {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .call__title {
    font-size: 3.8rem;
  }

  .ajuda {
    grid-template-columns: 1fr;
  }
  .questions-side__title {
    font-size: 3.8rem;
  }
  .questions-side__subtitle {
    font-size: 1.4rem;
  }
  .questions__question {
    font-size: 1.6rem;
    width: 100%;
  }
  .faq__results-side {
    display: none;
    background-size: 15rem;
    min-height: 36rem;
  }
  .result__title {
    font-size: 2.4rem;
  }
  .result p,
  .result a {
    font-size: 1.6rem;
  }

  .footer__ft-content {
    display: flex;
    gap: 0;
    flex-direction: column-reverse;
  }
  .ft-content__about {
    margin-bottom: 3.2rem;
  }
}

@media (max-width: 600px) {
  .header__menu {
    display: none;
  }
  .header__mobile-burger {
    display: block;
  }

  .header__mobile-burger + .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: var(--orange-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    z-index: 9999;
    transition: transform 0.3s;
  }
  .header__mobile-burger.active + .header__menu {
    transform: translateX(0);
  }
  .header__mobile-burger.active + .header__menu a {
    margin: 0;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--white-color);
  }
  .header__mobile-burger.active + .header__menu li {
    transform: translateX(10rem);
    opacity: 0;
  }
  .header__mobile-burger.active + .header__menu li:nth-child(1) {
    animation: show-menu-mobile-item 0.3s 0.2s forwards;
  }
  .header__mobile-burger.active + .header__menu li:nth-child(2) {
    animation: show-menu-mobile-item 0.3s 0.4s forwards;
  }
  .header__mobile-burger.active + .header__menu li:nth-child(3) {
    animation: show-menu-mobile-item 0.3s 0.6s forwards;
  }
  .header__mobile-burger.active + .header__menu li:nth-child(4) {
    animation: show-menu-mobile-item 0.3s 0.8s forwards;
  }
  @keyframes show-menu-mobile-item {
    from {
      transform: translateX(10rem);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .mobile-burger__bar {
    background: var(--orange-color);
    width: 2.5rem;
    height: 0.3rem;
    border-radius: var(--rounding);
    transition: transform 0.3s, opacity 0.3s, background 0.6s;
  }
  .mobile-burger__bar + .mobile-burger__bar {
    margin-top: 0.4rem;
  }
  .active .mobile-burger__bar {
    background: var(--white-color);
  }
  .active .mobile-burger__bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .active .mobile-burger__bar:nth-child(2) {
    transform: translateX(-1rem);
    opacity: 0;
  }
  .active .mobile-burger__bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  section#call {
    background-size: 40rem;
    background-position: 25vw bottom;
  }

  .change__price-brl {
    width: 100%;
    max-width: 20rem;
    font-size: 2rem;
  }
  .dados__change-value span {
    font-size: 1.6rem;
  }
  .price__btc-now {
    font-size: 3.6rem;
  }

  .banner-title {
    font-size: 2.8rem;
  }

  .vantagens__list {
    gap: 6.4rem;
    grid-template-columns: 1fr;
  }
  .list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
